:root {
  --color-primary: #5c7cfa;
  --color-primary-dark: #4263eb;
  --color-primary-alpha: #5c7cfa50;

  --body-color: #495057;
  --body-bg: #f8f9fa;

  --border-color: #dee2e6;
}
/* 404 Error Page */
body {
  max-width: 34rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--body-color);
  background: var(--body-bg);
  text-align: center;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

#oopss #error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#oopss #error span {
  position: relative;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1;
  opacity: 0.4;
}
#oopss #error p.p-a {
  font-size: 1.2rem;
  margin: 30px 0 0px 0;
  opacity: 0.6;
}
#oopss #error p.p-b {
  font-size: 1.1rem;
  opacity: 0.6;
}
#oopss #error .back {
  background: #fff;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  margin: 2em auto 0;
  padding: 0.7em 2em;
  border-radius: 500px;
  box-shadow: 0 20px 70px 4px rgba(0, 0, 0, 0.1), inset 7px 33px 0 0px #fff300;
  font-weight: 900;
  transition: all 300ms ease;
}
#oopss #error .back:hover {
  transform: translateY(-13px);
  box-shadow: 0 35px 90px 4px rgba(0, 0, 0, 0.3), inset 0px 0 0 3px #000;
}

footer {
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  text-align: center;
  opacity: 0.5;
}

footer i {
  font-style: normal;
  color: #ff8787;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s;
}

@media screen and (max-width: 500px) {
  #oopss #error span {
    margin-bottom: 1rem;
    font-size: 4rem;
  }
  img {
    height: 240px;
  }
}
